.options {
    padding: 30px;
    border: 1px solid #808080;
    border-radius: 5px;
    margin: 50px auto; /* Centraliza o container horizontalmente */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Deixa o conteúdo empilhado */
    max-width: 1100px;
    margin-bottom: 90px;
}

.row-index {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os botões */
}

.btn-option {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    margin-right: 15px;
    transition: all 0.3s ease;
}

.btn-option span {
    margin-top: 10px;
}

.btn-option.primary {
    background-color: #5fc86b;
    color: white;
}

.btn-option.visitante {
    background-color: #5fc86b;
    border: 2px solid #5fc86b;
    color: white;
}
.btn-option.sistema {
    background-color: #B20000;
    border: 2px solid #B20000;
    color: white;
}
.btn-option.pedidos {
    background-color: #1E90FF;
    border: 2px solid #1E90FF;
    color: white;
}
.btn-option.eventos {
    background-color: #5fc86b;
    border: 2px solid #5fc86b;
    color: white;
}
.btn-option.projeto {
    background-color: #034EA2;
    border: 2px solid #034EA2;
    color: white;
}
.btn-option.edit-projeto {
    background-color: #F4BD50;
    border: 2px solid #F4BD50;
    color: white;
}

.btn-option:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* Responsividade para telas menores que 768px (ex: celulares) */
@media (max-width: 768px) {
    .options {
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
    }

    .row.justify-content-start {
        flex-direction: column;
        align-items: center;
    }

    .col-auto {
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .btn-option {
        width: 90%;
        height: auto;
        padding: 20px 0;
        margin-right: 0;
        font-size: 18px;
    }

    .btn-option img {
        width: 60px;
        height: 60px;
    }
}
