@import "tailwindcss";

@theme {
  --breakpoint-3xl: 2560px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #171717;
  }
}

.text-name {
  font-size: 26px;
  line-height: 1.3 !important;
}

.DSM-PROGRESS {
  background-color: #FF0000;
}
.DSM-ICON{
  background-color: #7E0000;
}
.DSM-TITLE{
  color: #B20000;
}
.GE-PROGRESS{
  background-color: #1A6C7C;
}
.GE-ICON{
  background-color: #004854;
}
.GE-TITLE{
  color: #1A6C7C;
}
.ADS-PROGRESS{
  background-color: #FFC24C;
}
.ADS-ICON{
  background-color: #D5A700;
}
.ADS-TITLE{
  color: #D5A700;
}
.slide-item{
  min-width: 500px !important;
  flex-grow: 1 !important;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.cardsSection {
  margin-bottom: 30px;
}

.chartsSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.chartContainer {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 400px;
}

.p-dropdown-item {
  padding: 8px 12px !important;
  color: #333333 !important;
  font-size: 14px !important;
  background-color: #FFFFFF !important;
}

.p-dropdown-item:hover {
  background-color: #F5F5F5 !important;
}

.p-dropdown-item.p-highlight {
  background-color: #F5F5F5 !important;
  color: #B20000 !important;
}

@media (max-width: 768px) {
  .chartsSection {
    grid-template-columns: 1fr;
  }
}